@font-face {
  font-family: "great_wishesregular";
  src: url("./css/fonts/great_wishes-webfont.woff2") format("woff2"),
    url("./css/fonts/great_wishes-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratbold";
  src: url("./css/fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./css/fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #64375e;
  --accent-color: #d6b02e;
  --text-light-color: #fff;
  --text-dark-color: #666;
  --text-link-color: #38c733;
}

.App {
  max-height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Landing */

.Landing {
  height: 100vh;
  /* background-color: var(--landing-background-color); */
  color: #fff;
}

.Landing .container {
  padding-left: 20px;
  padding-right: 20px;
}

.Landing .flex {
  gap: 80px;
}

/* Brand */
.Brand {
  max-width: 400px;
  color: var(--text-light-color);
}

.Brand .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Brand img {
  width: 130px;
  margin-bottom: 20px;
}

.Brand .description {
  font-size: 16px;
  margin-bottom: 15px;
}

.Brand .sub-description {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  margin-bottom: 20px;
}

.Brand .social-media {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
}

.Brand .social-media img {
  width: 20px;
}

/* Form */
.Form {
  min-width: 318px;
  max-width: 400px;
  color: var(--text-dark-color);
}

.Form .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Form .flex {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.Form .form-wrapper {
  margin: 0;
  padding: 40px;
  border: 0;
  border-radius: 30px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.Form form {
  width: 100%;
}

.Form h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

.Form .form-control {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 16px;
  outline: none;
}

.Form .btn {
  width: 120px;
  height: 50px;
  margin-left: 50%;
  border: 0;
  border-radius: 25px;
  background-color: var(--accent-color);
  color: var(--text-light-color);
  transform: translateX(-50%);
  font-size: 16px;
  font-family: "montserratbold";
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.Form p {
  font-size: 14px;
  align-self: center;
}

.Form .error-msg {
  font-size: 14px;
  align-self: flex-start;
  color: red;
}

.Form a {
  text-decoration: none;
  color: var(--text-link-color);
  cursor: pointer;
}

/* Extra small devices (potrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Landing .flex {
    flex-direction: column;
    gap: 30px;
  }
}

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {
  .Landing .flex {
    flex-direction: column;
    gap: 80px;
  }
} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {
  .Landing .flex {
    gap: 80px;
  }
} */

/* Book */
.Book {
  height: 100vh;
  background-color: #64375e;
  color: #fff;
}

.Book .container {
  padding: 0px 12.5%;
  padding-top: 20px;
}

.Book .grid {
  grid-template-columns: 1fr 3fr;
  align-items: start;
  gap: 20px;
}

.Book .sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* NoteSearch */
/* .NoteSearch {
  /* min-height: 80px;
} */

.NoteSearch .container {
  padding: 0px;
}

.NoteSearch input {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 3px;
  outline: none;
}

.NoteSearch input:focus {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

/* NoteList */
.NoteList {
  height: 100%;
  max-height: 74vh;
  /* border: 0.1px solid #888; */
  border-radius: 3px;
  overflow-y: auto;
  scrollbar-width: thin;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.NoteList .container {
  margin: 0;
  padding: 0;
}

/* NoteItem */
.NoteItem {
  width: 100%;
  /* background-color: rgb(68, 6, 55); */
  border-bottom: 0.5px solid #222;
  font-family: "montserratbold";
  color: #fff;
}

.NoteItem .container {
  margin: 0 !important;
  padding: 30px 20px;
  cursor: pointer;
}

.NoteItem .title {
  font-size: 16px;
}

.NoteItem .updatedAt {
  font-size: 14px;
  opacity: 0.5;
}

.NoteItem:hover {
  background-color: rgb(68, 6, 55);
}

.NoteItem .selected {
  background-color: rgb(68, 6, 55);
}

/* NoteBar */
.NoteBar {
  /* min-height: 80px;
  align-self: flex-start;
  border-bottom: 0.5px solid #fff; */
  font-family: "montserratbold";
}

.NoteBar .container {
  padding: 0px;
  /* padding-top: 2px; */
}

.NoteBar .flex {
  gap: 20px;
}

.NoteBar .btn {
  /* color: var(--light-text-color);
  font-size: 16px;
  font-family: "montserratbold"; */
  cursor: pointer;
}

.NoteBar .btn:hover {
  opacity: 0.8;
}

.NoteBar #id {
  margin-left: auto;
}

/* Paper */
.Paper {
  height: 100%;
}

.Paper .container {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  /* padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px; */
}

.Paper input[name="title"] {
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  background-color: #77376f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: var(--ligth-text-color);
  font-family: "montserratbold";
  font-size: 16px;
}

.Paper input[name="title"]:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.Paper input[name="title"]::placeholder {
  color: darkgrey;
}

.Paper textarea {
  width: 100%;
  height: 67vh;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #77376f;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  color: var(--ligth-text-color);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.Paper textarea:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.Paper textarea::placeholder {
  color: darkgrey;
}

.Paper .container .flex {
  justify-content: space-between;
  height: 100%;
}

.Paper input[type="submit"] {
  width: 120px;
  height: 50px;
  margin-right: 10px;
  padding: 15px 20px;
  border: 0;
  border-radius: 25px;
  outline: none;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  font-size: 16px;
  font-family: "montserratbold";
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.Paper input[type="submit"]:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.Paper input[type="submit"]:disabled:hover {
  opacity: 0.3;
  cursor: not-allowed;
}

.Paper input[type="submit"]:hover {
  opacity: 0.8;
}

/* .Paper .addNote {
  position: absolute;
  bottom: 60px;
  right: 80px;
  width: 80px;
  height: 80px;
  border: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 80px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
} */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Book .grid {
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 80px auto; */
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .Book .grid {
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 80px auto; */
  }
}

/* Extra small devices (potrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Book .grid {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}
