.Brand {
  max-width: 400px;
  color: var(--text-light-color);
  justify-self: flex-end;
}

.Brand .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Brand .flex {
  flex-direction: column;
  align-items: flex-start;
}

.Brand img {
  width: 130px;
  margin-bottom: 20px;
}

.Brand p {
  font-size: 16px;
  margin-bottom: 15px;
}

.Brand .small {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

.Brand .social-media {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.Brand .social-media img {
  width: 20px;
}

@media (max-width: 500px) {
  .Brand .container {
    margin: 0px;
    padding: 0 5%;
  }
}
