.Landing {
  height: 100vh;
  padding: 0;
  background-color: #8d5986;
  color: #fff;
}

.Landing .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

@media (max-width: 768px) {
  .Landing .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 0;
  }
}
