/* Landing */
.Landing {
  height: 100vh;
  padding: 0;
  background-color: #8d5986;
  color: #fff;
}

.Landing .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

@media (max-width: 768px) {
  .Landing .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 0;
  }
}

/* Brand */
.Brand {
  max-width: 400px;
  color: var(--text-light-color);
  justify-self: flex-end;
}

.Brand .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Brand .flex {
  flex-direction: column;
  align-items: flex-start;
}

.Brand img {
  width: 130px;
  margin-bottom: 20px;
}

.Brand p {
  font-size: 16px;
  margin-bottom: 15px;
}

.Brand .small {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

.Brand .social-media {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.Brand .social-media img {
  width: 20px;
}

@media (max-width: 500px) {
  .Brand .container {
    margin: 0px;
    padding: 0 5%;
  }
}

/* Form */
.Form {
  min-width: 400px;
  min-height: 400px;
  color: var(--text-dark-color);
  justify-self: flex-start;
}

.Form .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Form .flex {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.Form .form-wrapper {
  margin: 0;
  padding: 40px;
  border: 0;
  border-radius: 30px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.Form form {
  width: 100%;
}

.Form h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

.Form .form-control {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 16px;
  outline: none;
}

.Form .btn {
  width: 120px;
  height: 50px;
  margin-left: 50%;
  border: 0;
  border-radius: 25px;
  background-color: var(--accent-color);
  color: var(--text-light-color);
  transform: translateX(-50%);
  font-size: 16px;
  font-family: "montserratbold";
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.Form p {
  font-size: 14px;
  align-self: center;
}

.Form .error-msg {
  font-size: 14px;
  align-self: flex-start;
  color: red;
}

.Form a {
  text-decoration: none;
  color: var(--text-link-color);
  cursor: pointer;
}

@media (max-width: 500px) {
  .Form {
    justify-self: center;
  }

  .Form .container {
    margin: 0px;
    padding: 0 5%;
  }
}
