.NoteItem {
  width: 100%;
  height: 100px;
  background-color: rgb(68, 6, 55);
  border-bottom: 0.5px solid #fff;
  color: #fff;
}

.NoteItem .container {
  margin: 0 !important;
  padding: 30px 20px !important;
  cursor: pointer;
}

.NoteItem h1 {
  font-size: 16px;
}

.NoteItem h2 {
  font-size: 14px;
  opacity: 0.5;
}
